ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,input{margin:0; padding:0;}

* {
  box-sizing: border-box;
}

body {
  background-color: #000;
  color:#fff;
  display: flex;
  flex-direction: column;
  font-family: Arial;
  height: 100vh;
}

.title-bar {
  background: #2e7089;
  height: 3em;
  display: flex;
}

.logo-box {
  background: rgba(10, 10, 10, 0.5);
  padding: 0.5em;
  width: 3em;
  text-align: center;
  flex: 0 0 auto;
}
.logo-box img {
  height: 100%;
  width: 100%%;
  display: block;
}

.title-box {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 1em;
}

.title-box .slide-title {
  white-space: nowrap;
  overflow: hidden;
  max-width: 50vw;
  text-overflow: ellipsis;
}

.subreddit-box {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 100%;
  padding-left: 1em;
}

.title-box > * {
  margin: 0 0.5em;
  display: inline-block;
}

.title-box .subreddit {
  color: black;
}

.slideshow-container {
  height: calc(100% - 5em);
  display: flex;
  position: relative;
}

.slideshow-container .viewport {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
}

.slideshow-container .slide-links {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow-x: auto;
}

.slideshow-container .slide-links a {
  margin: 0 0.5em;
}

.slideshow-container .loading-spinner {
  position: absolute;
  z-index: 10;
}

.loading-spinner {
  position: relative;
  width: 100%;
  height: 3px;
}

.loading-spinner .bar {
  content: "";
  display: inline;
  position: absolute;
  width: 0;
  height: 100%;
  left: 50%;
  text-align: center;
}

.loading-spinner .bar:nth-child(1) {
  background-color: white;
  animation: loading_bar 1.5s linear infinite;
}

.loading-spinner .bar:nth-child(2) {
  background-color: #3b78e7;
  animation: loading_bar 1.5s linear 500ms infinite;
}

.footer {
  flex-shrink: 0;
  background: #2e7089;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer .footer-item {
  margin: 0 0.5em;
}

a {
  text-decoration:none;
  color:#eee;
  font-weight: bold;
}
a:hover {
  opacity: 1.0;
  border-bottom:1px dotted;
}

.nsfw {
  color: #f99;
}

.previous-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  width: 0;
  height: 0;

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 30px solid white;
  opacity: 0.8;
  cursor: pointer;
  z-index: 30;
}

.next-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 0;
  height: 0;

  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid white;

  opacity: 0.8;
  cursor: pointer;
  z-index: 30;
}

.slide {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: auto;
  text-align: center;
}

.slide:not(.zoomed) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-links a {
  cursor: pointer;
}

.loading-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-wrapper .error-message {
  font-size: 2em;
  font-weight: bold;
}

.nsfw {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: black;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  font-size: 0.5em;
  position: relative;
  border-top: 0.75em solid rgba(255, 255, 255, 0.2);
  border-right: 0.75em solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.75em solid rgba(255, 255, 255, 0.2);
  border-left: 0.75em solid #ffffff;
  animation: loading_spinner 1.1s infinite linear;
}
.spinner,
.spinner:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

@keyframes loading_bar {
  from {
    left: 50%;
    width: 0;
    z-index: 100;
  }
  33.3333% {
    left: 0;
    width: 100%;
    z-index: 10;
  }
  to {
    left: 0;
    width: 100%;
    z-index: 0;
  }
}

@keyframes loading_spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
